@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
:root {
  --background-color: black;
  --yellow-color: #efca39;
  --blue-color: blue;
  --red-color: red;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--background-color);
}
.title {
  font-size: 128px;
  font-weight: 400;
  color: var(--blue-color);
  text-shadow: 1px 1px 1px var(--red-color);
  animation: title 3s linear infinite;
}
@keyframes title {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.description {
  font-size: 24px;
  color: var(--yellow-color);
}
li {
  font-size: 36px;
  list-style: none;
}
.email {
  font-size: 96px;
  color: var(--blue-color);
  text-shadow: 1px 1px 1px var(--red-color);
}
.portada-img{
  filter: drop-shadow(10px 10px 20px red) invert(75%);
}
.product-img{
  transform: scale();
  transition: all 1s ease;
}
.product-img:hover{
  scale: 110%;
}
